.header {
  /* display: flex;
  flex-direction: column;
  height: calc(100vh - 78.45px);
  overflow-y: scroll; */
  display: flex;
  justify-content: space-between;
}

.title {
  color: white;
  font-family: Termina;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 5px;
}

.description {
  color: #656278;
  font-size: 18px;
  display: block;
  margin: 30px 0;
  font-weight: 500;
}

.searchWrap {
  display: flex;
  margin-bottom: 35px;
}

.newCampaign {
  height: 55px;
  background: rgb(79,35,239);
  background: linear-gradient(133deg, rgba(79,35,239,1) 0%, rgba(255,122,49,1) 200%);
  border: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  border-radius: 7px;
  color: white;
}

.newCampaign :global(.material-icons-round) {
  font-size: 18px;
  margin-left: 10px;
}

.newCampaign:hover {
  color: white;
}

.input {
  background-color: var(--purple);
  color: var(--lightPurple);
  border: none;
  height: 55px;
  width: 500px;
}

.input input {
  background-color: transparent;
  color: white;
}

.input :global(.material-icons-round) {
  margin: 0 5px;
}

.newCampaign:hover,
.newCampaign:focus {
  background-color: rgba(213, 54, 120, 0.8);
  border-color: rgba(213, 54, 120, 0.8);
}

.loader {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.emptyTitle {
  font-family: Gilroy;
  font-weight: 700;
  color: var(--purple);
}

.emptyDescription {
  color: var(--lightPurple);
}

.emptyLoader {
  background-color: var(--background);
}

.emtpyImg {
  width: 180px;
  margin-bottom: 5px;
}

.disclaimer {
  color: #656278;
}

.strong {
  font-weight: 700;
  color: white;
}

.loader {
  height: 400px
}

.campaignsList {
  margin-bottom: 40px;
}